/**
 * base.css
 * Common styles for css reset, the header, footer, and etc.
 */
@media screen and (min-width: 768px) {
    #m-footer {
        display: none !important;
    }

	/* begin css reset */
	/* *, body, p, div, h1, h2, h3, h4, h5, h6 { */
	#footer * {
	    font-family:  Microsoft Yahei;
	}
	/* end css reset */
	#header a{
		color: rgba(0, 0, 0, 0.38);

	}
	img{
		max-height: 100%;
		max-width: 100%;
	}
	#header {
	    /*background-color: #444;*/
	    background:#ffffff;
		/*max-width:1200px;*/
		height:60px;
		margin: 0 auto;
        margin-bottom: 3px !important;
	}
	#header .navbar-brand img{
		height: 22px;
		max-width: 100%;
	}
	#header .navbar-right{
		margin-right: 0;
	}
	#header .navbar-brand{
		height: 60px;
		padding: 19px;
	}
	#header .navbar-nav > li > a{
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
	}
	#header .navbar-nav > li.active > a, #header .navbar-nav > li:hover > a, #header .navbar-nav > li > a:focus{
		color: #c93f47;
	}
	#header .navbar-nav > li.try > a{
		border: 1px solid #c93f47;
		margin-top: 9px;
		margin-left: 15px;
		padding: 10px 22px;
		color: #c93f47;
		display: inline-block;
		/*height: 40px;
		width: 100px;*/
	}
	#header .dropdown-menu{
		padding: 10px 0;
		min-width: 100px;
		border-radius: 0;
		border: none;
		box-shadow:0px 2px 4px 0px rgba(0,0,0,0.10);
	}
	#header .dropdown-menu >li > a{
		color: rgba(0,0,0,0.38);
		text-align: center;
		padding: 10px 0;
	}
	#header .dropdown-menu >li:hover > a{
		color: #c93f47;
		text-align: center;
	}
	#header .navbar-toggle{
		margin-top: 13px;
		margin-bottom: 13px;
	}
	#header .navbar-toggle > span{
		background-color: #c93f47;
	}
	#header .navbar{
		background-color: rgba(255,255,255,0.90);
		box-shadow:0px 1px 2px 0px rgba(0,0,0,0.12);
	}
	#header .try{
		text-align: center;
	}
	#header .icon-bar{
		border-radius: 0;
	}
	#content {
	    max-width: 1170px;
	    margin: 0 auto;
	}

	#footer-1 {
	    z-index: 500;
	    background:#3e3d4a;
	    /*max-width: 1200px;*/
	    min-height: 220px;
	    margin: 0 auto;
	    position: relative;
	}
	#footer-2 {
	    background-color: #30303c;
	    padding: 10px;
	}
	#footer-2 p{
	       font-family:Microsoft Yahei;
	       font-size:12px;
	       color:rgba(255,255,255,0.58);
	       text-align: center;
	       line-height:25px;
	}
	#footer-2 span.emblem{
	       display: inline-block;
	       height: 17px;
	       width: 17px;
	       background-image: url(images/footer-police.png);
	       background-size: contain;
	       background-position: center;
	       background-repeat: no-repeat;
	       vertical-align: middle;
	       margin-right: 8px;
	}

	#footer p {
	    margin: 0px;
	}

	#footer-1 .logo {
	    margin: 40px 0 20px;
	}
	#footer-1 .logo img{
		height: 22px;
		max-width: 100%;
	}
	#footer-1 p{
		font-size:12px;
		color:rgba(255,255,255,0.58);
		line-height:30px;
		text-align:left;
	}
	#footer-1 p.title{
		color: #fff;
		font-size: 14px;
		font-family:  Microsoft Yahei;
		line-height: 22px;
		margin: 40px 0 20px;
	}
	#footer-1 p.copyright{
		text-align: center;
		line-height: 30px;
		margin: 20px 0;
	}
	#footer-1 .qrcode img{
	    max-height: 72px;
	}
}

@media screen and (max-width: 768px) {
    #header {
        display: none;
    }
    #footer {
        display: none;
    }

    #m-header {
        display: block !important;
        position: fixed;
        height: 50px;
        box-shadow:0px 1px 2px 0px rgba(0,0,0,0.12);
        width: 100%;
        top: 0;
        z-index: 1000;
        background-color: rgba(255,255,255,0.90);
    }
    #m-index a{
        color:rgba(0,0,0,0.54);
    }

    #m-index .top-active a {
        color: #c93f47;
    }

    #m-header a:hover{
        text-decoration: none;
    }
    #m-nav{
        padding: 0 12px 0 20px;
    }
    #m-nav-btn{
        box-sizing: content-box;
        width: 20px;
        height: 18px;
        background-color: transparent;
        border: none;
        margin: 16px 0;
    }
    #m-nav-btn .icon-bar{
        background-color: #c93f47;
        border-radius: 0;
        display: block;
        width: 100%;
        height: 3px;
    }
    #m-nav-btn .icon-bar+.icon-bar {
        margin-top: 4px;
    }
    #m-nav-try{
        float: right;
        display: inline-block;
        font-size: 14px;
        padding: 10px 21px;
        border: 1px solid #c93f47;
        color: #c93f47;
        margin-top: 4px;
    }
    #m-nav-try:hover{
        text-decoration: none;
    }
    #m-index{
        display: none;
        position: absolute;
        top: 50px;
        width: 100%;
        height: 110px;
        z-index: 100;
        background:#ffffff;
        box-shadow:0px 2px 4px 0px rgba(0,0,0,0.10);
    }
    #m-index li{
        list-style: none;
        font-family:Microsoft Yahei;
        font-size:16px;
        float: left;
        margin-top: 25px;
        margin-left: 47px;
        line-height: 1;
    }

    #content {
        margin-top: 50px;
    }

    #m-footer {
    /*    height: 200px;
        background-color: gray;*/
        display: block !important;
    }
    #m-footer-bg{
        height: 190px;
        width: 100%;
        background-image: url(images/footer-bg.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
    }
    #footer-1{
	background: #3e3d4a;
	padding: 35px 20px 20px;
    }
    #footer-2{
	background: #30303c;
	text-align: center;
	padding: 15px 0;
     }
    #m-footer .logo{
        height: 22px;
        margin: 0;
    }
    #m-footer img{
        max-height: 100% !important;
        max-width: 100% !important;
    }
    #m-footer p{
        margin: 0;
        font-size: 12px;
        font-family:Microsoft Yahei;
        color:rgba(255,255,255,0.58);
        line-height:30px;
    }
    #m-footer p.title{
        font-family:Microsoft Yahei;
        font-size:14px;
        color:#ffffff;
        margin-bottom: 12px;
    }
    #m-footer .address{
        margin-top: 15px;
    }
    #m-footer .connect{
        margin-top: 25px;
        position: relative;
    }
    #m-footer .qrcode{
        position: absolute;
        right: 0;
        bottom: 10px;
        width: 88px;
        height: 88px;
    }
    #m-footer span{
        display: inline-block;
        height: 17px;
        width: 17px;
        background-image: url(images/footer-police.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: middle;
        margin-right: 8px;
    }

    .wy-nav-top-search {
        display: inline-block;
        float: right;
    }

    #m-header #m-index li.active> a,
    #m-header #m-index li:hover> a,
    #m-header #m-index li> a:focus {
        color: #c93f47;
        background-color: #fff;
    }
}
