/**
 * base.css
 * Common styles for css reset, the header, footer, and etc.
 */
@font-face {
	font-family: HYQiHei-EZS;
	src: url('../fonts/400.otf');
}
@font-face {
	font-family: HYQiHei-FZS;
	src: url('../fonts/700.otf');
}
/* begin css reset */
/* *, body, p, div, h1, h2, h3, h4, h5, h6 { */
#footer * {
    font-family: HYQiHei-EZS, Microsoft Yahei;
}
/* end css reset */
#header a{
	color: rgba(0, 0, 0, 0.38);
}
img{
	max-height: 100%;
	max-width: 100%;
}
#header {
    /*background-color: #444;*/
    background:#ffffff;
	/*max-width:1200px;*/
	height:60px;
	margin: 0 auto;
}
#header .navbar-brand img{
	height: 22px;
	max-width: 100%;
}
#header .navbar-right{
	margin-right: 0;
}
#header .navbar-brand{
	height: 60px;
	padding: 19px;
}
#header .navbar-nav > li > a{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
#header .navbar-nav > li.active > a, #header .navbar-nav > li:hover > a, #header .navbar-nav > li > a:focus{
	color: #c93f47;
}
#header .navbar-nav > li.try > a{
	border: 1px solid #c93f47;
	margin-top: 9px;
	margin-left: 15px;
	padding: 10px 22px;
	color: #c93f47;
	display: inline-block;
	/*height: 40px;
	width: 100px;*/
}
#header .dropdown-menu{
	padding: 10px 0;
	min-width: 100px;
	border-radius: 0;
	border: none;
	box-shadow:0px 2px 4px 0px rgba(0,0,0,0.10);
}
#header .dropdown-menu >li > a{
	color: rgba(0,0,0,0.38);
	text-align: center;
	padding: 10px 0;
}
#header .dropdown-menu >li:hover > a{
	color: #c93f47;
	text-align: center;
}
#header .navbar-toggle{
	margin-top: 13px;
	margin-bottom: 13px;
}
#header .navbar-toggle > span{
	background-color: #c93f47;
}
#header .navbar{
	background-color: rgba(255,255,255,0.90);
	box-shadow:0px 1px 2px 0px rgba(0,0,0,0.12);
}
#header .try{
	text-align: center;
}
#header .icon-bar{
	border-radius: 0;
}
#content {
    max-width: 1170px;
    margin: 0 auto;
}

#footer-1 {
    z-index: 500;
    background:#3e3d4a;
    /*max-width: 1200px;*/
    min-height: 220px;
    margin: 0 auto;
    position: relative;
}
#footer-2 {
    background-color: #30303c;
    padding: 10px;
}
#footer-2 p{
       font-family:HYQiHei-EZS;
       font-size:12px;
       color:rgba(255,255,255,0.58);
       text-align: center;
       line-height:25px;
}
#footer-2 span.emblem{
       display: inline-block;
       height: 17px;
       width: 17px;
       background-image: url(../img/footer-police.png);
       background-size: contain;
       background-position: center;
       background-repeat: no-repeat;
       vertical-align: middle;
       margin-right: 8px;
}

#footer p {
    margin: 0px;
}

#footer-1 .logo {
    margin: 40px 0 20px;
}
#footer-1 .logo img{
	height: 22px;
	max-width: 100%;
}
#footer-1 p{
	font-size:12px;
	color:rgba(255,255,255,0.58);
	line-height:30px;
	text-align:left;
}
#footer-1 p.title{
	color: #fff;
	font-size: 14px;
	font-family: HYQiHei-FZS, Microsoft Yahei;
	line-height: 22px;
	margin: 40px 0 20px;
}
#footer-1 p.copyright{
	text-align: center;
	line-height: 30px;
	margin: 20px 0;
}
#footer-1 .qrcode img{
    max-height: 72px;
}
